<!DOCTYPE HTML>
<html>
	<head>
		<title>My Portfolio Site</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/pers.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body>
		<header>
			<h2><a href="#" class="logo">mazing</a></h2>
			<ul>
				<li><a href="#" class="active">Home</a></li>
				<li><a href="#">Product</a></li>
				<li><a href="#">Shop</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</header>
			<section class="main">
				<img src="static/images/stars1" id="stars">
				<h2 class="mazing">mazing</h2>
				<img src="static/images/moon2.webp" id="moon">
				<img src="static/images/mountains3.webp" id="mountains3">
				<img src="static/images/mountains4.webp" id="mountains4">
				<img src="static/images/boat6.webp" id="boat6">
				<img src="static/images/river5.webp" id="river">
				<img src="static/images/mountains7.webp" id="mountains7">
			</section>
			<div class="content">
				<hz>Lore</hz>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis at tellus at urna condimentum. Malesuada bibendum arcu vitae elementum curabitur vitae. Pellentesque pulvinar pellentesque habitant morbi. Diam maecenas sed enim ut. Lectus proin nibh nisl condimentum id venenatis. At elementum eu facilisis sed odio. Est lorem ipsum dolor sit amet consectetur adipiscing. Enim facilisis gravida neque convallis a cras semper auctor. Habitant morbi tristique senectus et netus. Vivamus at augue eget arcu dictum. A erat nam at lectus urna duis convallis convallis. At varius vel pharetra vel. Laoreet sit amet cursus sit amet dictum. Tellus in hac habitasse platea dictumst vestibulum. Auctor eu augue ut lectus arcu bibendum at varius. Amet nulla facilisi morbi tempus iaculis urna id.</p>
				<p> Lectus mauris ultrices eros in. Volutpat lacus laoreet non curabitur gravida arcu ac tortor. Est pellentesque elit ullamcorper dignissim cras tincidunt. Aliquam id diam maecenas ultricies mi eget mauris pharetra et.

Vitae semper quis lectus nulla at volutpat diam. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Malesuada pellentesque elit eget gravida cum sociis natoque. Amet purus gravida quis blandit turpis cursus in. Ac ut consequat semper viverra nam libero justo laoreet sit. Augue lacus viverra vitae congue eu consequat ac felis. Ut aliquam purus sit amet luctus venenatis lectus magna fringilla. Scelerisque fermentum dui faucibus in ornare quam viverra. Consequat id porta nibh venenatis cras sed felis eget velit. Gravida dictum fusce ut placerat. In metus vulputate eu scelerisque. Id diam maecenas ultricies mi eget. Dignissim suspendisse in est ante in nibh mauris cursus mattis. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Nisi porta lorem mollis aliquam.</p>
				<p> Tortor aliquam nulla facilisi cras. Ut tellus elementum sagittis vitae et leo duis ut. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Aenean pharetra magna ac placerat. Faucibus et molestie ac feugiat. Sed elementum tempus egestas sed sed. Porttitor leo a diam sollicitudin tempor id eu nisl nunc. Scelerisque purus semper eget duis at tellus at. Aliquam nulla facilisi cras fermentum odio. Est ultricies integer quis auctor.</p>
			</div>


		<!-- Scripts -->
<!--			<script src="assets/js/jquery.min.js"></script>-->
<!--			<script src="assets/js/jquery.scrollex.min.js"></script>-->
<!--			<script src="assets/js/jquery.scrolly.min.js"></script>-->
<!--			<script src="assets/js/browser.min.js"></script>-->
<!--			<script src="assets/js/breakpoints.min.js"></script>-->
<!--			<script src="assets/js/util.js"></script>-->
			<script src="static/assets/js/main.js"></script>

	</body>
</html>